$color-background-1: var(--color-background-1);
$color-background-2: var(--color-background-2);
$color-body-1: var(--color-body-1);
$color-body-2: var(--color-body-2);
$color-green: #40bf40;
$color-red: #df2020;
$color-facebook: #1778f2;
$color-instagram-1: #f58529;
$color-instagram-2: #feda77;
$color-instagram-3: #dd2a7b;
$color-instagram-4: #515bd4;
$color-instagram-5: #8134af;
$gradient-instagram: linear-gradient(to bottom right, #f58529, #feda77, #dd2a7b, #515bd4, #8134af);
$color-twitter: #00acee;
$color-youtube: #ff0000;
$color-tiktok-1: #00f2ea;
$color-tiktok-2: #ff004f;
$color-tiktok-3: #ffffff;
$gradient-tiktok: linear-gradient(to bottom right, #00f2ea, #ff004f);
$color-pinterest: #e60023;
$screen-mobile-s: 320px;
$screen-mobile-m: 440px;
$screen-mobile-l: 560px;
$screen-tablet-s: 680px;
$screen-tablet-m: 800px;
$screen-tablet-l: 920px;
$screen-desktop-s: 1040px;
$screen-desktop-m: 1160px;
$screen-desktop-l: 1280rem;
@mixin responsive($screen-width) {
    @media (min-width: $screen-width) {
        @content;
    }
}